<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta class="description" content="">
        <meta class="keywords" content="">
        <meta class="author" content="">
        <meta class="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Documentation made painless/intellijently</title>
    </head>
    <body>
        <header></header>

        <!-- The container for the grid of all classes -->
        <section class="maingrid">

            {% for cls in classes %}

                <!-- The container for a class -->
                <div class="classgrid">
                    <div class="classname"><h3>{{ cls['name'] }}</h3></div>
                    {{ cls["description"] }}
                    {% for method in cls['methods'] %}
                    <div class="function">{{ method['name'] }}
                        {% if len(method['params']) == 0 %}
                        ()
                        {% else %}
                            ({% for param in method['params'] %}
                                {% if param != method['params'][-1] %}
                                    <span style="color: blue;">{{ param["type"] }}</span> {{ param["name"] }},
                                {% else %}
                                    <span style="color: blue;">{{ param["type"] }}</span> {{ param["name"] }}
                                {%endif%}
                            {% endfor %})
                        {%endif%}

                    </div>
                    {% endfor %}
                </div>

            {% endfor %}

        </section>

        <script src="js/scripts.js"></script>
        <footer></footer>
    </body>
</html>
